@import "tailwindcss";

@font-face {
  font-family: 'GowunDodum';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/GowunDodum-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

:root {
  color-scheme: light;
  --background: #fffdf7;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-serif: var(--font-noto-serif);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'GowunDodum', Arial, Helvetica, sans-serif;
}
